﻿@model Orchard.ThirdPartyIntegrationWidget.Models.ThirdPartyIntegrationPart

<fieldset>
    <div>
        <label for="IsThirdpartyJsCallsAllowed">
            @T("3rd party calls")
            @Html.CheckBoxFor( m => m.IsThirdPartyJsCallsAllowed)
            @T("Allowed")
        </label>
        <div class="hint">@T("The setting that controls if 3rd party JS calls are allowed for this widget. It's recommended to disallow such calls from security stand point.")</div>
    </div>
</fieldset>


@using (Script.Foot())
{
    <!--script type="text/javascript">
    //<![CDATA[
    $('form')
    .attr('enctype', 'multipart/form-data')
    .attr('encoding', 'multipart/form-data'); // ie issue
    //]]>
    </script-->
}