﻿@using Orchard.ThirdPartyIntegrationWidget.Constants
@{
    var model = Model.Model;
}

@if (model != null)
{
    <div>
        <iframe frameborder="0" style="width: 100%; height: 100vh;"
                src="@Url.Action("GetWidgetContent", "ThirdPartyIntegration", new { area = ThirdPartyIntegrationConstants.ModuleName, Identity = model })"></iframe>
    </div>
}